* {
margin:0;
padding:0;
font-family: sans-serif; 
}

body{
    background-color: #01171b;
}

svg path:hover{
    fill:#d32b0d;
    transition:0.6s;
    cursor:pointer;
}

.romap{
    width:70%;
    top: 50%;
    position: relative;
    margin: 5% auto;
    cursor: pointer;
}

.romap path{
    fill:#852205;
    stroke:#eee;
    stroke-width:.25;
    transition: fill 0.001s;
}

/*-----------------------------------------------------------------------*/

body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  /* min-width: 900px; */
  width: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #d70d0d;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #d70d0d;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

a{
  color: black;
}
/*-----------------------------------------------------------------------*/

